[
{rabbit, [
        {default_user, "test"},
        {default_pass, "pass"},
        {ssl_listeners, [5671]},
        {tcp_listeners, [{"localhost",5672}]},
        {tcp_listen_options, [binary,
            {packet, raw},
            {reuseaddr, true},
            {backlog, 128},
            {nodelay, true},
            {exit_on_close, false},
            {keepalive, true}]},
        {ssl_options, [{cacertfile,"/var/lib/rabbitmq/certs/cacert.pem"},
            {certfile,"/var/lib/rabbitmq/certs/cert.pem"},
            {keyfile,"/var/lib/rabbitmq/certs/key.pem"},
            {verify,verify_peer},
            {fail_if_no_peer_cert,true}]},
        {auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']},
        {ssl_cert_login_from, common_name}
    ]}
    ].